body {
  margin: 0%;
  color:black;
  background-color: rgba(208, 240, 229, 0.651);
 overflow-x: hidden;
}

.row{
  background-color: rgb(135, 211, 160);
  padding-right: 15px;
  font-size: 25px;
  font-family: fantasy;
}

